#menu{
    background-color: #3f51b5;
    height: 150px;
    padding: 30px;
    border-radius: 0px 0px 0px 0px;
}
.logo{
    background-color: #FFF;
    padding: 10px;
    border-radius: 30px;
}
.menulist{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-decoration: none;
    color: #FFF!important;
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    float: right;
    background-color: #4050b5;
    border-radius: 30px;
}
.menulist:hover{
    color: #CCC;
}
.itemenu{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}
.active{
    background-color: #222f7c;
}
.itemenu>a{
    color: #FFF;
    text-decoration: none;
}
#banner{
}
#content{
  padding-right: 100px; 
  padding-left: 100px;
  margin-top: 150px;
  margin-bottom: 150px;
}
#content::after {
  content: "";
  background: url(../imagenes/back2.jpeg);
  background-repeat:none;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  opacity: 0.2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1;   
}
#footer{
  background-color: #3f51b5;
  color: #FFF;
  padding: 40px;
}